#!/usr/bin/make -f

%:
	dh $@

override_dh_perl:
	true

override_dh_auto_install:
	dh_python2
	dh_python3
	dh_auto_install -- BINDIR=/usr/bin SBINDIR=/usr/sbin

override_dh_installinit:
	# Using dh_installinit instead of dh_installsystemd because it
	# also installs the /etc/default file.
	dh_installinit --name=ctre
	# tcpdump247 is an old school init script.
	dh_installinit --name=tcpdump247

override_dh_builddeb:
	# Compress .deb destination files with gzip instead of xz for
	# compatibility.  See also debian/source/options for the source
	# package.
	dh_builddeb -- -Zgzip
